<?xml version="1.0"?>

<launch>
  <arg name="slam_type" default="gmapping" doc="slam_type [hector_mapping, gmapping]"/>
  <arg name="sim_time" default="false" doc="sim_time [true, false]"/>
  
  <group if="$(arg sim_time)"> # check here later and implement ifnot
     <include file="$(find kamu_robotu_comm)/launch/comm.launch"> </include>
  </group>
  
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="$(arg sim_time)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kamu_robotu_gazebo)/urdf/kamu_robotu.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen"></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"></node>

  <include file="$(find kamu_robotu_launch)/launch/oko_$(arg slam_type).launch"/>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
