<?xml version="1.0"?>
<launch>
  <arg name="slam_type" default="gmapping" doc="slam_type [hector_mapping, gmapping,cartographer]"/>
  <arg name="sim_time" default="false" doc="sim_time [true, false]"/>

  <param name="/use_sim_time" value="$(arg sim_time)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kamu_robotu_gazebo)/urdf/kamu_robotu.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen"></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"></node>
<node name="lidar_bridge" pkg="kamu_robotu_comm" type="lidar_bridge" respawn="true" output="screen"></node>
  <node name="odometry_bridge" pkg="kamu_robotu_comm" type="odometry_bridge" respawn="true" output="screen"></node>
<node name="follow_wall" pkg="kamu_robotu_navigation" type="follow_wall.py" respawn="false" output="screen"></node>

  <include file="$(find kamu_robotu_launch)/launch/oko_$(arg slam_type).launch"/>

</launch>
