<launch>
  <param name="use_sim_time" value="true"/> <!-- only with rosbag -->

  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen" args="-d">
      <param name="subscribe_scan"   value="true"/>
      <param name="subscribe_rgb"    value="false"/>
      <param name="subscribe_depth"  value="false"/>
      <param name="frame_id"         value="base_link"/>
      <param name="odom_frame_id"    value="odom"/>
      <param name="wait_for_transform_duration"  value="1"/>
      <param name="odom_tf_linear_variance"  value="0.01"/>
      <param name="odom_tf_angular_variance" value="0.05"/>

      <!-- RTAB-Map parameters -->
      <param name="Reg/Strategy"              value="1"/>    <!-- 1 for lidar -->
      <param name="Reg/Force3DoF"             value="true"/> <!-- 2d slam -->
      <param name="RGBD/NeighborLinkRefining" value="true"/> <!-- odometry correction with scans -->

      <remap from="scan"    to="/scan"/>
    </node>

    <!-- just for visualization -->
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen"/>
  </group>
</launch>
