<launch>
    <arg name="des_x" />
    <arg name="des_y" />
    <param name="des_pos_x" value="$(arg des_x)" />
    <param name="des_pos_y" value="$(arg des_y)" />
    <node pkg="kamu_robotu_navigation" type="follow_wall.py" name="wall_follower" output="screen" />
    <node pkg="kamu_robotu_navigation" type="go_to_point.py" name="go_to_point" output="screen" />
</launch>
